p {
	color:red;
}
h1 {
	color:blue;
	background-color:yellow;
	text-align:center;
	
}
h2 {
	color:cyan;
}
body {
	background-color:#289bf2;
	background-image: url("snoop.gif");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
}